div {
    width: 600px;
    height: 400px;
    background-color: red;
    border-radius: 140px;
    border: 40px groove #ff4781;
    background-image: url("../../000_img/kiko.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
text {
    text-justify: auto;
    text-decoration-color: crimson;
    text-decoration-line: blink;
}