html, body{
    margin: 0;
    padding: 0;
    border: 0;
}
div{
    height: 600px;
    width: 600px;
    border: 20px ridge orange;

    background-image: url("dog.png") ;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-position: 300px 10px;
}