div {
    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 50px;
    border:green groove 20px;
    background-image: url("../../000_img/surf.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}