.c1 {
    color: yellow;
    background-color: darkred;
}
.c2 {
    color: yellow;
    background-color: #F38630;
}
.c3 {
    color: yellow;
    background-color: #d29ecf;
}
.c4 {
    color: yellow;
    background-color: palevioletred;
}
.c5 {
    color: yellow;
    background-color: deeppink;
}
.c6 {
    color: yellow;
    background-color: hotpink;
}
.c7 {
    color: yellow;
    background-color: pink;
}
.c8 {
    color: yellow;
    background-color: #9d97c9;
}
