body{
    display: flex;
    flex-direction: column;
    /* formatting */
    border: #16A2D7 1px solid;
}

div{
    /*flex-grow: 2;*/
    /* formatting */
    width: 200px;
    height: 100px;
    border: 2px solid red;
    margin: 1em;
    background-color: lightgrey;
    text-align: center;
}