.c1 {
    color: yellow;
    background-color: darkred;
}
.c2 {
    color: yellow;
    background-color: red;
}
.c3 {
    color: yellow;
    background-color: #ff3a35;
}
.c4 {
    color: yellow;
    background-color: palevioletred;
}
.c5 {
    color: yellow;
    background-color: deeppink;
}
.c6 {
    color: yellow;
    background-color: hotpink;
}
.c7 {
    color: yellow;
    background-color: pink;
}
