body{
    width: 80%;
    /*height: 330px;*/
    margin: 0 auto;
    border: 2px solid black;
}

div{
    position: relative;
    /* formatting */
    height: 400px;
    width: 400px;
    border: 4px solid red;
    background: coral;
}

#absolute {
    position: absolute;
    top: 160px;
    left: 200px;
    /*fotmatting */
    width: 100px;
    height: 100px;
    background: deeppink;
    color: cornsilk;
    text-align: center;
}