html {
    background-color: yellow;
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: greenyellow;
    border: 5px solid deeppink;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10%;
    border: 10px solid gold;
}

#pizdari {
    color: #0266C8;
}

#secondary {
    color: #F90101;
}