h1 {
    color: blue;
    word-spacing: 2rem;
}
h2 {
    color: red;
    word-spacing: 3rem;
}
h3 {
    color: green;
    word-spacing: 4rem;
}
h4 {
    color: darkorange;
    word-spacing: normal;
}
