*  {
    /*border: 1px solid red;*/
}

html, body {
    height: 100%;
}

html, body, main, div, small, footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5vw;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid mediumvioletred;
}

div {
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#html {
    width: 70%;
    /*align-items: center;*/
}

#css {
    width: 40%;
}

div:nth-child(1n+2) {
    border-left: 3px solid magenta;
}
#rslts{
    padding: 0 0 0 10px;
    text-align: center;
    color: red;
}

.favorite {
    color: red;
}

ul#summer-drinks li {
    color: blue;
}
#spec{
    color: cornflowerblue;
    font-weight: bold;
    text-align: center;
    border-top: 4px double cornflowerblue;
    border-bottom: 4px double cornflowerblue;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

small {
    padding: 20px 30px;
}
