html {
    background-color: #00C957;
}

p {
    color: indianred;
    font-size: 4rem;
    text-shadow: 2px 2px 1px #F3FCD0;
    border: 1px solid black;
    width: 1200px;
    padding: 20px;
}

h1 {
    color: saddlebrown;
    font-size: 12rem;
    text-shadow: 6px 6px 1px #F3FCD0;
    /*text-shadow: 6px 3px 1px #F8A3F6;*/
    border: 6px solid greenyellow;
    width: 1300px;
}

h1, p {
    font-family: 'Great Vibes', cursive;
    margin: 0 auto;

    /*TRBL*/
    /*margin: 10px;*/

    /*TB RL*/
    /*margin: 10px 8px;*/

    /*T R B L;*/
    /*margin: 10px 8px 0px 10px;*/

    text-align: center;
}