div {
    width: 400px;
    height: 200px;
    border: 40px dashed red;
    margin: 20px auto;
    /*margin: 50px 200px;*/
    /*margin: 50px 200px 180px 420px;*/

}

.border-me{
    box-sizing: border-box;
}
