body{
    width: 80%;
    border: 5px solid lightgreen;
    margin: 0 auto;


}
nav{
    border: 2px solid red;
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

main{
    vertical-align: top;
    border: 2px solid green;
    box-sizing: border-box;
    padding: 20px;
    /*margin: 20px auto;*/
    display: inline-block;
    width: 80%;

}

